# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
 
# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~

#executable
*.pck
linux_exec.x86_64
MacOS_exec.zip
windows_exec.exe

#user_script
game_script/
